#gameboards-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.gameboard {
  width:200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  box-sizing: border-box;
}

.option-container {
  width: 500px;
  height: 70px;
  margin: 30px 0;
  background-color: darkgray;
  display: flex;
  align-items: center;
}

.destroyer {
  background-color: brown;
}

.submarine {
  background-color: black;
}

.cruiser {
  background-color: olive;
}

.battleship {
  background-color: grey;
}

.carrier {
  background-color: olivedrab;
}

.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}

.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
}

.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}

.hover {
  background-color: grey;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
  background-color: pink;
}

.boom {
  background-color: red !important;
}

.empty {
  background-color: grey !important;
}